<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd">
    <!--扫描组件-->
    <context:component-scan base-package="com.mzx"/>

    <!--引入配置文件-->
    <context:property-placeholder location="classpath:jdbc.properties"/>

    <!--创建一个dataSource-->
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
        <property name="driverClassName" value="${jdbc.driver}"/>
        <property name="url" value="${jdbc.url}"/>
        <property name="username" value="${jdbc.username}"/>
        <property name="password" value="${jdbc.password}"/>
    </bean>

    <!--创建一个queryRunner对象-->
    <bean id="queryRunner" class="org.apache.commons.dbutils.QueryRunner">
        <constructor-arg name="ds" ref="dataSource"/>
    </bean>

    <!--&lt;!&ndash;配置AOP了&ndash;&gt;-->
    <!--<aop:config>-->
        <!--&lt;!&ndash;配置切入点&ndash;&gt;-->
        <!--<aop:pointcut id="transferMoney" expression="execution(* transferMoney(..))"/>-->
        <!--&lt;!&ndash;配置切面&ndash;&gt;-->
        <!--<aop:aspect id="transferManager" ref="transactionAspect">-->
            <!--&lt;!&ndash;配置通知 &ndash;&gt;-->
            <!--&lt;!&ndash;前置通知&ndash;&gt;-->
            <!--<aop:before method="startTransaction" pointcut-ref="transferMoney"/>-->
            <!--&lt;!&ndash;后置通知&ndash;&gt;-->
            <!--<aop:after-returning method="commit" pointcut-ref="transferMoney"/>-->
            <!--&lt;!&ndash;异常通知&ndash;&gt;-->
            <!--<aop:after-throwing method="rollback" pointcut-ref="transferMoney"/>-->
            <!--&lt;!&ndash;最终通知&ndash;&gt;-->
            <!--<aop:after method="close" pointcut-ref="transferMoney"/>-->
        <!--</aop:aspect>-->
    <!--</aop:config>-->

    <!--使用注解配置aop-->
    <aop:aspectj-autoproxy/>
</beans>